.nav_info {
	height: 9.25rem;
	background-color: #F8F3F4;
	display: flex;
	align-items: center;
    justify-content: space-between;

	&_h3 {
		color: #F16D7F;
		font-family: Lato;
		font-size: 1.5rem;
		font-weight: 400;
	}

	&_h5 {
		color: #636363;
		font-family: Lato;
		font-size: 0.875rem;
		font-weight: 300;
	}

	&_span {
		color: #F16D7F;
		font-family: Lato;
		font-size: 0.875rem;
		font-weight: 700;
	}
}

.filter_block {
	position: relative;
	display: grid;
    grid-template-columns: repeat(3, 1fr);
	justify-items: start;
    gap: 1.8rem;
	margin-bottom: 4rem;
	margin-top: 3.19rem;

	.filter {
		position: absolute;
		z-index: 10;
		left: 0rem;
		top: 0;
		background-color: #fff;
		width: 22.5rem;
		padding-left: 1rem;
		padding-top: 0.5rem;
		// box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	
		&:hover {
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
			color: #EF5B70;
			fill:  #EF5B70;
		}

		&_logo {
			display: flex;
			position: relative;
			align-items: center;
			margin-bottom: 1.13rem;
		}

		&_logo:hover,
		&_submenu_a:hover,
		&_menu_trending:hover,
		&_menu_size:hover,
		&_menu_price:hover {
			@extend %hover_effect;
		}

		&:hover &_svg path {
			color: #EF5B70;
			fill:  #EF5B70;
		}
	
		&_text,
		&_text_submenu {
			margin-right: 0.69rem;
		}
	
		&_menu {
			grid-column: 2 / 3;
		}
	
		&_menu {
			color: #6F6E6E;
			font-family: Lato;
			font-size: 0.875rem;
			font-weight: 400;
			display: flex;
			z-index: 30;

			&_trending,
			&_size,
			&_price {
				display: flex;
				align-items: center;
				position: relative;
				height: 2rem;

				&_m-l {
					margin-left: 1.75rem;
				}
			}
		
			&_vector {
				margin-top: 0.25rem;
			}
		
			&_p {
				margin-right: 0.62rem;
				white-space: nowrap;
			}
		
			&_size_submenu {
				position: absolute;
				opacity: 0;
				z-index: -1;
				top: 2rem;
				left: -0.5rem;
				transition: .5s;
				width: 4.9375rem;
				height: 6.4375rem;
				background: #FFF;
				box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
				padding-top: 0.56rem;
			}
			
			&_size:hover .filter_menu_size_submenu,
			&_size_submenu:hover {
				z-index: 1000;
				opacity: 1;
			}
			
			&_size_submenu_checkbox {
				margin-left: 0.56rem;
				// margin-top: 0.56rem;
				margin-bottom: 0.75rem;
				vertical-align: middle;
				&_span {
					vertical-align: top;
					color: #6F6E6E;
					font-family: Roboto;
					font-size: 0.875rem;
					font-weight: 400;
					margin-left: 0.56rem;
				}
			}
		}
	
		&_category_menu {
			margin-bottom: 1.13rem;
		}
		
		&_submenu_category_name {
			border-left: 0.3125rem solid #EF5B70;
			height: 2.3125rem;
			display: flex;
			align-items: center;
			color: #6F6E6E;
			font-family: Lato;
			transition: .3s;
			font-size: 0.875rem;
			font-weight: 400;
			border-bottom: 1px solid #EBEBEB;
		}
		
		&_submenu_ul {
			transition: .3s;
		}
		
		&_submenu_span {
			margin-left: 0.69rem;
		}
		
		&_submenu_li {
			margin-top: 0.69rem;
			margin-left: 2.12rem;
		}
		
		&_submenu_a {
			color: #6F6E6E;
			font-family: Lato;
			font-size: 0.875rem;
			font-weight: 400;
		}
		
		&_submenu_category_name:hover,
		&_submenu_ul_category:hover ~ .filter_submenu_category {
			color: #EF5B70;
		}
	
	}
}

// .filter[open] > summary,
// .filter[open] > details {
// 	padding-left: 1rem;
// 	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
// }

.nav_items_footer {
	display: flex;
    justify-content: center;
    align-items: center;


	&_pagination {
		gap: 1.3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 3rem;
		margin-bottom: 6rem;
		border: 1px solid #EBEBEB;;
		padding: 0.91rem 0.97rem;
	}
	&_page-link {
		color: #C4C4C4;
		font-family: Lato;
		font-size: 1rem;
		font-weight: 300;
	}

	&_active {
		color: #EF5B70;
	}

	&_page_link_vector_left:hover path,
	&_page_link_vector_right:hover path,
	&_page_item:hover .page-link {
		fill: #EF5B70;
		color: #EF5B70;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.filter_block {
		margin-bottom: 2.5rem;
		margin-top: 1.5rem;
		grid-template-columns: repeat(2, 1fr);

	}

	.filter {
		top: 0;

		&_menu {
			grid-column: 2 / 4;
		}
	}

	.block_mobile_none {
		display: none;
	}

}

@media (min-width: 320px) and (max-width: 767px) {
    .nav_info {
		flex-direction: column;
		justify-content: space-around;

    }
	.filter_block{
		grid-template-columns: repeat(2, 0.3fr);
		margin-right: 1rem;
		gap: 0;
		justify-content: space-between;
		margin-bottom: 2rem;
		margin-top: 1.5rem;
	}
	.filter_menu {
		grid-column: 2 / 4;
	}

	.filter_menu_p {
		font-size: 0.75rem;
	}

	.filter_svg path{
		width: 38px;
		height: 25px;
	}

	.block_mobile_none {
		display: none;
	}
	
	.filter_text {
		display: none;
	}

	.nav_items_footer{
		margin-top: 2.5rem;
	}

	.nav_items_footer_pagination {
		margin-bottom: 4rem;
		margin-top: 0;
	}

}