.product_card {
    margin-bottom: 8.06rem;

    .product_slider {
        // width: 100vw;
        height: 48.5625rem;
        background-color: #F7F7F7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.69rem;
        padding-bottom: 2.63rem;
    
        &_vector {
            width: 2.9375rem;
            height: 2.9375rem;
            background-color: rgba(42, 42, 42, 0.15);
        }
    
        &_left_vector_img, 
        &_right_vector_img {
            margin: 0.5rem;
        }
    
        // &_left_vector:hover  &_left_vector_img path,
        // &_right_vector:hover &_right_vector_img path {
        //     fill: #F16D7F;
        // }
    

    }

    .product_slider_left_vector:hover  .product_slider_left_vector_img path,
    .product_slider_right_vector:hover  .product_slider_right_vector_img path {
        fill: #F16D7F;
    }

    .product_content {
        background-color: #fff;
        width: 71.3125rem;
        // height: 37.5625rem;
        top: 44.53rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 4.03rem;
        margin-top: -4.03rem;
       border: #EAEAEA 1px solid;

        &_category_name {
            color: #F16D7F;
            font-family: Lato;
            font-size: 0.875rem;
            font-weight: 300;
            margin-top: 4.03rem;
        }

        &_devider_line {
            width: 3.9375rem;
            height: 0.18906rem;
            background-color: #EF5B70;
            margin-top: 0.76rem;
            margin-bottom: 0.76rem;
        }

        &_product_name{
            color: #4D4D4D;
            font-family: Lato;
            font-size: 1.125rem;
            font-weight: 300;
            margin-bottom: 3.03rem;
        }

        &_product_content {
            color: #5E5E5E;
            text-align: center;
            font-family: Lato;
            font-size: 0.875rem;
            font-weight: 300;
            margin-bottom: 2.02rem;
        }

        &_product_price{
            color: #EF5B70;
            font-family: Lato;
            font-size: 1.5rem;
            font-weight: 300;
            margin-bottom: 4.07rem;
        }

        &_vector_line {
            width: 40.0625rem;
            height: 1px;
            background-color: #EAEAEA;
            margin-bottom: 4.07rem;
        }
 	
		&_filter_menu {
			color: #6F6E6E;
			font-family: Lato;
			font-size: 0.875rem;
			font-weight: 400;
			display: flex;
            margin-bottom: 3.03rem;

            &_color,
			&_size,
			&_quantity {
				display: flex;
				margin-right: 1.75rem;
				align-items: center;
				position: relative;
				height: 2rem;
			}
		
			&_vector {
				margin-top: 0.25rem;
			}
		
			&_p {
				margin-right: 0.62rem;
                &:hover {
                    @extend %hover_effect;
                }
			}
		
			&_size_submenu {
				position: absolute;
				opacity: 0;
				z-index: -1;
				top: 2rem;
				left: -0.5rem;
				transition: .5s;
				width: 4.9375rem;
				height: 6.4375rem;
				background: #FFF;
				box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
				// display: none;
				padding-bottom: 0.75rem;
			}
			
			&_size:hover .filter_menu_size_submenu,
			&_size_submenu:hover {
				// display: block;
				z-index: 1000;
				opacity: 1;
			}
			
			&_size_submenu_li {
				margin: 0.56rem;
			}
			
			&_size_submenu_svg {
				margin-right: 0.56rem;
			}
		}

        &_add_to_cart {
            display: flex;
            align-items: center;
            width: 12rem;
            height: 3.02538rem;
            border: #F26376 0.06rem solid;
            padding-left: 1.5rem;
            transition: .3s;

            &_p {
                // width: 5.125rem;
                height: 1.19756rem;
                color: #F26376;
                font-family: Lato;
                font-size: 1rem;
                font-weight: 400;
                margin-left: 1.44rem;
            }
        }
    }
}
.product_content_add_to_cart:hover {
    background-color: #F26376;
}

.product_content_add_to_cart:hover .product_content_add_to_cart_svg path {
    fill: #FFF;
}

.product_content_add_to_cart:hover  .product_content_add_to_cart_p {

    color: #FFF;
}

.items_block {
    margin-bottom: 8rem;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .product_content_center {
        display: flex;
    }

    .block_mobile_none {
		display: none;
	}
}