%reg_input_style {
    width: 21.42rem;
    height: 2.8125rem;
    color: #B1B1B1;
    border: 1px solid #B1B1B1;
    padding-left: 1.08rem;
    margin-top: 1.28rem;
}

.registration {
    padding-top: 4rem;
    padding-bottom: 6rem;
    display: flex;
    gap: 8.03rem;

    &_forms {
        width: 100%;

        &_name {
            color: #222;
            font-family: Lato;
            font-size: 1rem;
            font-weight: 300;
        }

        &_name_first,
        &_name_last,
        &_email,
        &_password {
            @extend %reg_input_style;
            width: calc(100% - 1.08rem);
        }

        &_gender {
            margin-top: 1.97rem;
            
            &_male,
            &_female {
                color: #000;
                font-family: Lato;
                font-size: 0.6875rem;
                font-weight: 300;
                margin-left: 0.62rem;
                margin-right: 1.25rem;
            }
        }

        &_details {
            color: #222;
            font-family: Lato;
            font-size: 1rem;
            font-weight: 300;
            margin-top: 2.06rem;
        }

        &_info {
            margin-top: 0.94rem;
            color: #B1B1B1;
            font-family: Lato;
            font-size: 0.8125rem;
            font-weight: 300;
        }

        &_button {
            margin-top: 2.44rem;
            width: 10.4375rem;
            height: 3.125rem;
            background-color: #F16D7F;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 1.81rem;
            padding-right: 1.26rem;
            color: #FFF;
            font-family: Lato;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            border: none;
            transition: .3s;

            &:hover {
                color: #F16D7F;
                border: 1px solid #F16D7F;
                background-color: #FFF;
            }
        }
    }

    &_content{
        color: #000;
        font-family: Lato;
        font-size: 1.5rem;
        font-weight: 300;

        &_header {
            margin-bottom: 1.37rem;
        }

        &_offer {
            margin-bottom: 1.31rem;
        }

        &_ul {
            list-style-image: url("data:image/svg+xml,%3Csvg width='30' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8035 0H18.0904C17.8502 0 17.6222 0.111827 17.4752 0.303176L7.3702 13.2826L2.52481 7.05754C2.45151 6.96318 2.35808 6.88688 2.25153 6.83438C2.14499 6.78187 2.0281 6.75451 1.90963 6.75437H0.196467C0.032258 6.75437 -0.0584248 6.94572 0.0420614 7.07494L6.75503 15.6981C7.06874 16.1006 7.67166 16.1006 7.98782 15.6981L19.9579 0.318087C20.0584 0.191349 19.9677 0 19.8035 0Z' fill='black'/%3E%3C/svg%3E%0A");
            height: 100%;
            width: 100%;

            &_li {
                margin-bottom: 1rem;
                margin-left: 2rem;
            }
        }
    }
}


@media (min-width: 768px) and (max-width: 1024px) {

    .registration {
        gap: 0;
    }

    .nav_info_h3,
    .registration_forms {
        margin-left: 1rem;
        margin-right: 1.38rem;
    }

    .registration_content {
       font-size: 1rem;
       margin-right: 1rem;
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .registration {
        flex-direction: column;
        padding-top: 2.53rem;
        padding-left: 0.53rem;
        padding-right: 0.53rem;
        gap: 2.44rem;

        &_content {
            font-size: 1rem;
        }
    }
}