%reg_input_style {
    width: 21.42rem;
    height: 2.8125rem;
    color: #B1B1B1;
    border: 1px solid #B1B1B1;
    padding-left: 1.08rem;
    margin-top: 1.28rem;
}

.registration {
    padding-top: 4rem;
    padding-bottom: 6rem;
    @extend %flex_justify-content;

    &_forms {
        width: 22.5rem;

        &_name {
            color: #222;
            font-family: Lato;
            font-size: 1rem;
            font-weight: 300;
        }

        &_name_first,
        &_name_last,
        &_email,
        &_password {
            @extend %reg_input_style;
        }

        &_gender {
            margin-top: 1.97rem;
            
            &_male,
            &_female {
                color: #000;
                font-family: Lato;
                font-size: 0.6875rem;
                font-weight: 300;
                margin-left: 0.62rem;
                margin-right: 1.25rem;
            }
        }

        &_details {
            color: #222;
            font-family: Lato;
            font-size: 1rem;
            font-weight: 300;
            margin-top: 2.06rem;
        }

        &_info {
            margin-top: 0.94rem;
            color: #B1B1B1;
            font-family: Lato;
            font-size: 0.8125rem;
            font-weight: 300;
        }

        &_button {
            margin-top: 2.44rem;
            width: 10.4375rem;
            height: 3.125rem;
            background-color: #F16D7F;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 1.81rem;
            padding-right: 1.26rem;
            color: #FFF;
            font-family: Lato;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            border: none;
            transition: .3s;

            &:hover {
                color: #F16D7F;
                border: 1px solid #F16D7F;
                background-color: #FFF;
            }
        }
    }

    &_content{
        color: #000;
        font-family: Lato;
        font-size: 1.5rem;
        font-weight: 300;

        &_header {
            margin-bottom: 1.37rem;
        }

        &_offer {
            margin-bottom: 1.31rem;
        }

        &_ul_li {
            margin-bottom: 1rem;

            &_img {
                margin-right: 1.44rem;
            }
        }
    }
}